<div class="row back" >
    <a href="#adaptive_Learning_List/<%= courseId %>/<%= courseName %>/<%= teacherName %>/<%= section %>/<%= outline %>">
        <i id="back_btn" class="fa fa-angle-left fa-2x back_btn" aria-hidden="true"></i>
    </a>
</div>

<ul class="progress-indicator">
    <li class="completed"> <span class="bubble"></span> Session 1 </li>
    <li class="completed"> <span class="bubble"></span> Session 2 </li>
    <li class="completed"> <span class="bubble" ></span > Session 3 </li>
    <li class="completed"> <span class="bubble"></span> Session 4 </li>

</ul>