<div style="margin-top:43px" class="border-bottom-dotted-gray padding-bottom-10px">
    <div class="img-message">
                <img class="img-circle thumbnail" src="pics/student.jpg" height="47px" width="47px" />
            </div>

    <div class="message-info">
                <span id="remove-measure-btn" class="remove-measure-btn color-2b7dbc font-size-14px font-bold"> <%= sender_name %><%= sender_id %> </span>
                <br />
                <span class="color-525252 font-size-12px font-bold"> <%= subject %> </span>
                <br />
                <div class="color-525252 font-size-11px font-italic">
                    <span> <%= sentDate %> </span>
                </div>
            </div>       
</div>

<div class="message-text">
    <span>
       <%= content %>
    </span>
</div>
<a href="#message_reply/<%= sender_id %>/<%= subject %>">
    <button class="do-action btn-reply"> REPLY </button>
</a>
