<div class="row back" >
    <a href="#course_detail/<%= courseId %>/<%= courseName %>/<%= teacherName %>/<%= section %>/<%= outline %>">
        <i id="back_btn" class="fa fa-angle-left fa-2x back_btn" aria-hidden="true"></i>
    </a>
</div>

<div class="row" style="display: block;text-align: center ">

    <ul>
        <% _.each(sessions, function(obj) { %>
        <% var sessionName = '';

        for (i=0; i < obj.meta.length; i++) { %>
        <% if( obj.meta[i].name == "name" ) { sessionName = obj.meta[i].value; %>
        <% } %>
        <% } %>
        <li style="margin-left: -30px;">
            <div class="card"  style="height: 140px">
                <a href="#session_report_detail/<%= courseId %>/<%= courseName %>/<%= teacherName %>/<%= section %>/<%= outline %>/<%= obj.id %>">

                    <div style="width: 80px;float: right; margin-right: 20px;margin-top: 10px">

                        <p class="date" id="Start_date"
                           style="color: #BDBDBD; font-size: 10px;">
                            Start Date <br> <span style="color: #BDBDBD;"><%=
                        (obj.start_date.date).substring(0, 20) %> </span>
                        </p>
                        <p class="date" id="End_date"
                           style="color: #BDBDBD; font-size: 10px; ">
                            End Date <br> <span style="color: #BDBDBD;"><%=
                        (obj.start_date.date).substring(0, 20) %></span><span style="color:darkorange; float: right;margin-top: 15px">VIEW REPORT</span>

                        </p>
                    </div>

                    <i class="fa fa-calendar" aria-hidden="true"
                       style="color: #134b6d;float: right;margin-right: 5px; margin-top: 35px"></i>



                    <div id="subject" style="text-align: center; background-color: darkorange;color: white;float: left;
"><p><%= sessionName %><%= obj.id %> </p>         </div>
                    <br>

                    <p id="prof_name"
                       style="color: #134b6d; float: left;  font-size: 12px; margin-top: 55px;margin-left: -130px">
                        Professor: <%= teacherName %> <Br> <span style="color: #4285F4; margin-top: 55px"><%= courseName %></span></p>




                </a>
            </div>

        </li>
        <% });%>
    </ul>


</div>
